:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(181, 255, 255) 100.5%
  );
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 23px;
  line-height: 1.5;
  text-align: center;
}

h2 {
  font-size: 18px;
  text-align: center;
  color: #dda0e9;
  margin-bottom: 20px;
}

h3 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 44px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;

  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-desciption {
  padding: 120px 60px;
}

.logo {
  max-height: 40px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

img {
  max-width: 100%;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

button {
  display: block;
  margin: 0 auto;
  border: 1px solid plum;
  background: white;
  font-size: 20px;
  border-radius: 6px;
  padding: 10px 15px;
  transition: all 150ms ease-in-out;
}

button:hover {
  background: rgb(222, 152, 222);
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  background: rgb(250, 239, 248);
  padding: 20px;
  border-radius: 10px;
}

footer {
  text-align: center;
  margin: 10px 0;
  font-size: 18px;
}

.theme-button {
  font-size: 20px;
  background: rgb(211, 113, 226);
  color: white;
  padding: 5 8px;
}

.theme-button:hover {
  color: rgb(5, 5, 5);
  background: white;
}

.salsa-intro-picture {
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}

.salsa-intro-picture:hover {
  filter: contrast(80%);
  transform: scale(1.1);
}

.grid {
  margin: 15px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid img {
  width: 100%;
  border-radius: 8px;
  transition: all 150ms ease-in-out;
}

.grid img:hover {
  transform: scale(2);
}

.dark {
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  color: white;
}

.dark .container {
  background: rgba(255, 255, 255, 0.1);
}

.dark a {
  color: plum;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
    line-height: 1.5;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 26px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}
