:root {
  --branding-color: #db7ff9;
  --secondary-color: #f696bc;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;

}

body {
  background-color: #faf5fa;
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(66, 56, 56);
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 28px;
  line-height: 1.5;
  color: rgb(58, 54, 59);
}

h2 {
  font-size: 23px;
  color:#f696bc;
}

h3 {
  font-size: 18px;
}

h3.text-center a {
  text-decoration: none;
}

p {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}

.profile-container {
  gap:2rem;
  max-width: 1000px;
  margin: auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

.profile {
  display: flex;
  gap:20px;
  margin-left: 20px;
  margin-right: 20px;
}

.about-page {
  .pink-bg-container
  .profile {
    background: transparent;
    border:none;
  }
}

.about-logo {
  width: 120px;
  margin:0 auto;
  height: auto;
}

.about-section {
  font-size: 18px;
}

.about-page .profile-container {
  display:flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  padding: 10px;
  flex:3;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 20px;
  box-shadow: 0 5px 18px rgba(0,0,0,0.05);
}

.hero-info {
  flex:1; 
  width: auto;
  height: auto;
  padding: 30px;
  background: transparent;
}

.hero-info h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.4;
  font-size: 25px;
  margin-bottom: 2px;
}

.logo {
  width:160px;
  height: 150px;
  object-fit: contain;
  border-radius:20px;
}

.pink-bg-container{
  color: rgb(87, 82, 82);
  padding: 14px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap:15px;
  background-color: #f9dee8;
}

.into-text {
  flex-direction: column;
  display: flex;
  align-items: left;
  gap:8px;
  flex-wrap: nowrap;
  color:rgb(100, 99, 99);
}

.into-text .btn-arrow {
  display: inline-flex;
  align-items: center;
}

.resume-card {
  background-color: white;
  padding: 30px;
  border-radius: 20px; 
  margin-right: 10px;
}


.resume-card p {
  font-family: Arial;
  margin-bottom:10px;
}

.resume-link {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 20px;
  }

.btn-resume {
  transition: background 0.3s ease;
}

.do-link {
  display: block;
}

.do-link:hover p,
.do-link:hover .into-text p {
  color: var(--secondary-color);
}

.do-link:active {
  transform:scale(0.98);
}

.main-layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap:20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  position: relative;
  min-height:  100vh;
}

.resume {
  display: flex;
  flex-direction: column;
  gap:20px;
  position: sticky;
  height:fit-content;
}

.resume-container {
  display: flex;
  gap:20px;
  flex-direction: column;
  align-items: center;
}

.resume-container .resume {
  width: 100%;
  max-width: 240px;
}

.resume-content h2 + p {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: -14px;
    margin-bottom: -10px;
  }

.resume-tools h1.one-column-list {
    text-align: center;
    margin-bottom: 1px;
}

.resume-tools p {
    text-align: center;
    margin: 2px 0;
    line-height: 1.5;
}

.contact {
  background-color: white;
  padding: 40px;
  border-radius: 20px; 
  max-width: 240px;
}

.two-column-container {
  max-width: 300px;
  margin-left: 70px;
}

.two-column-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 10px;
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
  text-align: left;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
  align-items: center;
  border-radius: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px;
}

.project-card {
  background-color: #f6e1f6;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: transform 0.5s;
  flex: 0 0 calc(50% - 20px);
}

.row > .project-card {
    margin-bottom: 50px;}

.project-card:hover {
  transform: translateY(-5px);
}

.project-preview {
  height:450px;
  display:flex;
  align-items: center;
}

.project-preview img{
  width: 100%;
  height: 100%;
}

.project-info {
  padding: 20px;
}

.project-info h3{
  font-size: 20px;
  margin-bottom: 5px;
  color: #0b0332;
}

.project-info p1 {
  font-size: 14px;
  color: #636e72;
  margin-bottom: 15px;
}

.project-desc {
  font-size: 14px;
  color: #2d3436;
  margin-bottom: 20px;
  line-height: 1.5;
}

.project-links {
  display: flex;
  gap:10px;
}

.project-link {
  padding: 8px 16px;
  background-color: #eb74a3;
  color:white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  transition: rgb(18, 17, 17) 0.3s;
}

.project-link:hover {
  background-color: #e0e1f9;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.btn-branding {
  font-size: 28px;
}


.project-desciption {
  padding: 120px 60px;
}

.logo {
  max-height: 150px;
}

nav {
  padding: 10px 20px;
  width: 100%;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #605590;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: rgb(163, 54, 230);
}

.btn {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 17px;
  display:inline-block;
  border-color: rgb(187, 134, 236);
}

.btn-branding {
  background-color: white;
  color:rgb(169, 100, 233);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: white;
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: rgb(221, 147, 241);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 24px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
  .resume-card {
    display: none;
  }
  .pink-bg-container {
    background-color: white;
  }
  .project-card {
    flex: 0 0 100% !important; 
    margin-bottom: 10px;
  }
  .row {
    flex-direction: column;
    gap: 30px 0; 
  }
  .profile-container {
    flex-direction: column !important;
    align-items: center !important;
    gap: 20px !important;
  }
  .profile-container .resume-card[style*="background:none"] {
  margin-top: -50px !important;
  }
  .about-page .pink-bg-container {
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
    width: 100% !important;
  }
.about-page .resume-card {
    display: block !important;
    margin-top: 20px !important;
    width: 100% !important;
    text-align: center !important;
  }
  .hero-info,
  .into-text,
  .hero {
    width: 100% !important;
    flex: unset !important;
  }
  .main-layout {
    grid-template-columns: 1fr !important;
    padding: 20px;
    gap: 20px;
  }
  .hero {
    width: 100% !important;
  }
}
